.testimonialContainer {
  padding: 3rem 1rem;
  background-color: #f0f4f8;
  text-align: center;
    background: linear-gradient(-45deg, #eeeef8, #71d7a4, #61539a, #c2c2cb);
  background-size: cover;
}

.testimonialContainer h1 {
  font-size: 2.5rem;
  margin-bottom: 0.3rem;
  color: #e9e3e3;
}

.testimonialContainer p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  color: #171616;
}

.testimonialsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
  max-width: 1100px;
  margin: 0 auto;
}

.testimonialCard {
  background-color: white;
  padding: 1.5rem;
  border-radius: 14px;
  box-shadow: 0 3px 12px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
}

.testimonialCard:hover {
  transform: translateY(-8px);
}

.testimonialCard img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
}

.testimonialCard h2 {
  margin: 0;
  font-size: 1.4rem;
  color: #111;
}

.role {
  font-style: italic;
  color: #888;
  margin-bottom: 0.7rem;
}

.testimonialStars img {
  width: 18px;
  height: 18px;
  margin-right: 4px;
}

.text {
  font-size: 1rem;
  color: #555;
  margin-top: 1rem;
  line-height: 1.4;
}