.headerContainer {
  padding: 2rem;
  color: rgb(18, 1, 1);
  text-align: center;
  overflow: hidden;
  margin-top: 4.4rem;
  background-image: url('https://cdn.pixabay.com/photo/2016/03/27/07/32/clouds-1282314_640.jpg');
  background-size: cover;
  overflow: hidden;
  background: linear-gradient(#e0da8b,#061f01,#a97c7e);
  background-size: 100% 100%;
}

.generateButton {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  background: linear-gradient(135deg, #e01ff2, #3f6bef);
  color: white;
  font-size: 1.5rem;
  padding: 0.8rem 3.8rem;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  margin: 1rem 0 2rem;
  transition: all 0.3s ease;
  max-width: 370px;
  box-shadow: 0 6px 15px rgba(75, 8, 16, 0.4);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.generateButton:hover {
  background: linear-gradient(135deg, #12cc28, #b42381);
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(146, 149, 3, 0.5);
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(31, 116, 242, 0.6);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(31, 116, 242, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(31, 116, 242, 0);
  }
}

.generateButton {
  animation: pulse 2s infinite;
}
.buttonIcon {
  width: 30px;
  height: 30px;
}

/*  Carousel  */
.carouselContainer {
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 2rem 0;
  scroll-behavior: smooth;
  position: relative;
  white-space: nowrap;
}

.carouselContainer::-webkit-scrollbar {
  display: none;
}

.carouselTrack {
  display: inline-flex;
  gap: 2rem;
}

.carouselItem {
  flex: 0 0 auto;
  width: 25vw;
  transition: all 0.4s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carouselImage {
  width: 100%;
  height: 250px;
  border-radius: 12px;
  transition: all 0.12s ease;
}
