.headerContainer {
  text-align: center;
  padding: 2rem 1rem;
  background-color: #f4e9f4;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  color: #222;
}

.generateBtn {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  background: linear-gradient(135deg, #e01ff2, #3f6bef);
  color: white;
  font-size: 1.5rem;
  padding: 0.8rem 3.8rem;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  margin: 1rem 0 2rem;
  transition: all 0.3s ease;
  max-width: 370px;
  box-shadow: 0 6px 15px rgba(75, 8, 16, 0.4);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.generateBtn:hover {
  background: linear-gradient(135deg, #12cc28, #b42381);
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(146, 149, 3, 0.5);
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(31, 116, 242, 0.6);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(31, 116, 242, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(31, 116, 242, 0);
  }
}

.generateBtn {
  animation: pulse 2s infinite;
}

.starIcon {
  height: 30px;
  width: 30px;
}
