.navContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 97.3%;
  height: 50px;
  z-index: 1000;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px rgba(150, 124, 124, 0.1);
background: linear-gradient(60deg,#030628, #2c306b, #7e83a0);
}

.navContainer img{
  height: 70px;
}
.navImage {
  width: 140px;
  background: transparent;
  border: none;
  font-size: 40px;
  font-weight: 600;
  font-style:oblique;
  color: #fff;
}

.navLinks {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.pricing{
  padding: 0.5rem 2rem;
  font-weight: 600;
  font-size: 20px;
  border-radius: 50px;
  color: white;
  cursor: pointer;
}
.pricing {
  background: linear-gradient(270deg, #0d1145, #a5a7bf, #42738d);
  background-size: 600% 600%;
  animation: gradientMove 8s ease infinite;
}

@keyframes gradientMove {
  0% { background-position: 0% 50% }
  50% { background-position: 100% 50% }
  100% { background-position: 0% 50% }
}
.pricing:hover{
  font-size: 25px;
}
.loginButton {
  padding: 0.5rem 2rem;
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 20px;
  font-weight: 600;
  background: linear-gradient(60deg,#0d1145, #a5a7bf, #42738d);
  background-size: 600% 600%;
  animation: gradientMove 8s ease infinite;
}
@keyframes gradientMove {
  0% { background-position: 0% 50% }
  50% { background-position: 100% 50% }
  100% { background-position: 0% 50% }
}
.loginButton:hover {
font-size: 25px;
}

.userContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.creditButton {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: #b898b9;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  height: 40px;
  width: 130px;
}

.creditIcon {
  width: 30px;
  height: 10px;
}

.userGreeting {
  font-weight: bold;
  color: #333;
}

.profileContainer {
  position: relative;
  cursor: pointer;
}

.profileIcon {
  width: 40px;
  height: 10px;
}
.dropdown {
  position: absolute;
  top: 35px;
  right: 0;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 6px;
  display: none;
  min-width: 100px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.profileContainer:hover .dropdown {
  display: block;
}

.dropdown ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.dropdown li {
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 0.95rem;
}

.dropdown li:hover {
  background-color: #f5f5f5;
}
